@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables */

$pastel-blue: #779ECB;

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html{
  overflow-y: scroll;
}

body {
  background-color: $pastel-blue;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 60px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  padding-top: 5px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.signup{
  height: 10%;
}

/* header */

.navbar-right {
  font-color: black;
 }

.navbar {
  background-color: lightblue;
}

.nav {
  margin-top: 5px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: $pastel-blue;
  text-decoration: none;
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid $gray-medium-light;
  color: $gray-light;
  a {
    float: left;
    color: $gray;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 20px;
      text-decoration: none;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.gravatar {
  height: 80px;
  width: 80px;
}

.gravatar-container {
  margin-bottom: 10px;
}

.about-user{
  display: inline-block;
  margin-left: 10px;
}

.button-container {
  # width: 100%;
  text-align: center;
  # display: inline-block;
  margin-bottom:10px;
}


#new_lost_item {
  # float: left;
  # width: 48%;
  padding-top: 5px;
  height: 80px;
  border-radius: 20px;
  text-align: center;
  background-color: lightblue;
  &:hover {
  background-color: $pastel-blue;
  color: white;
  }
}

#new_found_item {
  # float: right;
  # width: 48%;
  padding-top: 5px;
  height: 80px;
  border-radius: 20px;
  text-align: center;
  background-color: lightblue;
  &:hover {
  background-color: $pastel-blue;
  color: white;
  }
}

.show_buttons {
  display: inline-block;
  text-align: center;
}

#edit_button {
float:left;
margin-right: 50px;
}

#delete_button {
float: right;
margin-left: 50px;
}


#item_lost_form{
  display: none;
}

#item_found_form{
  display: none;
}

.lostItemTable{
}

th {
  text-align: center;
}

tr {
 text-align: center; 
}

.mapsLostItems{
  margin-bottom: 40px;
}

