<% provide(:title, "About") %>

	<h3>When was the last time you lost property and thought...</h3> <br> <h4>"iLostProperty... what if someone picked it up, how would they know where to find me?" <br><br> "iLostProperty... if only I had some way of tracking where it is!"</h3>